@import "mixins";
@import 'bourbon/bourbon';

.clearfix:after {
  content: " "; /* Older browser do not support empty content */
  visibility: hidden;
  display: block;
  height: 0;
  clear: both;
}

/* color palette */
$pink: #f85b8f; 
$teal: #2bcba0; /**/ /* $dark-moss-green: #00796B; */
$aqua: #2ba6cb; /**//* $dark-aqua: #0288D1; */
$light-aqua: #7ACCC8; /**/
$navy: #35404F; /**/
$black: #171717;
$white: #FFFFFF;
$light-gray: #EEEDE9;
$purple: #9C27B0; 

$gray: #999;

$text-color: #7f8c8d;
/** end color palette **/

$google-pink: #DD4B39;
/* end color palette */

/************* body *************/
body {
  font-family: "Open Sans", Lucida Sans Unicode, Verdana, Helvetica, sans-serif;
  background: #f7f7f7;
/* responsive text queries */
  @media screen and (max-width: 992px) {
    p,h4 {
      font-size: 95%;
    }
    h1 {
      font-size: 24px;  
    }
    h2 {
      font-size: 22px;  
    }
    h3 {
      font-size: 18px;  
    }
  }

  @media screen and (max-width: 768px) {
    p,h4 {
      font-size: 90%;
    }
    h1 {
      font-size: 20px;
    }
    h2 {
      font-size: 18px;  
    }
    h3 {
      font-size: 16px;  
    }
  }
}

html {
  overflow-y: scroll;
}



section {
  /* padding-top: 5px; */
  overflow: hidden; 
  @extend .clearfix;
}

.unstyled {
  list-style: none;
  margin: 0;
  padding: 0;
}

hr {
  border-top: 1px solid lighten($black, 60%);
}

.modal-footer {
  text-align: center;
}
/************* end body *************/
 
/***** local-mixins ****/ 
@mixin gray-line($bg-color) {
  background: url('/jolly/static/img/gray_line.jpg') center repeat-x;
  span {
    background-color: $bg-color;
    display: inline-block;
    padding: 5px 15px;
    font-weight: bold;
  }
}

@mixin btn($bg-color, $color) {
  @extend .btn;  
  background: $bg-color;
  color: $color;
}


@mixin btn-lighten($bg-color, $color, $pct) {
  @include btn($bg-color, $color);
  &:hover, &:visited, &:link:hover {
    background: lighten($bg-color, $pct);
    color: $color; 
  }

  &:visited:hover {
    background: $bg-color;
    color: $color; 
  }

}

@mixin btn-darken($bg-color, $color, $pct) {
  @include btn($bg-color, $color);
  &:hover, &:visited, &:link:hover {
    background: darken($bg-color, $pct);
    color: $color;
  }

 &:visited:hover {
    background: $bg-color;
    color: $color;
 }
}

/***** end local mixins ****/
.gray-line {
  @include gray-line($white)
}

.white {
  color: $white;
}

.aqua {
  color: $aqua;
}

.pink {
  color: $pink;
}

.google-pink {
  color: $google-pink;
}

.black {
  color: $black;
}

.bold-txt {
  font-weight: bold;
}

.center-txt {
  text-align: center;
}

.app-name {
  @extend .bold-txt;
  font-size: 1.6em;
  vertical-align: middle;
  font-family: Pacifico,serif;
} 

.no-border {
  border: none !important;
  border-radius: 0;
}

.center-block {
  text-align: center; 
  line-height: 2em;
  max-width: 95%;    

  @include breakpoint(xd) {
    float: none;
    width: 100%;
  }
}
      
/* ////////// */
.image-container { 
  position: relative;
  text-align:center;
 
  width: 100%; 
  .btn {
    position: absolute; 
    top: 45%; 
    width: 50%; 
    font-size: 1.4em;
    opacity: 0.8; 
    left: 25%;
    position:absolute;
    text-align:center;
    margin: auto;
  }
}

.image { 
  position: relative;
  width: 100%;
  img {
    display: block;
    width: 100%;
    border-radius: 8px;
  }

  @extend .clearfix;
}

.banner {
  min-height: 300px;
  .btn {
  }
}

.banner-text {
  /* width: 50%; */
  /* : 5em auto 40px auto; */
  padding: 4em 0px 1em 0;
  color: $white;
  h1 {
    font-size: 3em;
    font-weight: 100; 
  }
  p {
    line-height: 0.5em;
    font-size: 1em;
    font-weight: 100;
    color: $white;
  }
}

.img-txt {
  text-align: center;
}

.quote {
  &:before {
    content: "\f10d";
    font-family: 'Fontawesome';
    margin-right: 10px;
  }
  & span {
    display: block;
    font-size: 16px;
  }
}

/* ////////// */
.btn {
  line-height: 20px;
  padding: 5px 10px;
  margin: 9px 5px;
  text-align: center;
}

.btn-pink {
  @include btn-darken($pink, $white, 10%);
}

.btn-aqua {
  @include btn-darken($aqua, $white, 10%);
}

.btn-light-aqua {
  @include btn-darken($light-aqua, $white, 10%);
}


.btn-purple {
  @include btn-darken($purple, $white, 10%);
}

.btn-black {
  @include btn($black, $white);
  &:hover {
    background: lighten($black, 5%);
    color: darken($white, 10%);
  }
  &:active {
    box-shadow: inset 0 3px 5px rgba($white, 0.2);
  }
}

.btn-white {
  @include btn($white, $black);
  /* border: 1px solid $black; */
  &:hover, &:visited {
    /* border: 1px solid rgba($black,0.6); */
    color: lighten($black, 10%);
    background: darken($white, 10%);
  }
}

/* ----------- navbar styling * ----------- */
.navbar {
  border: none;
  @include transition(all 0.8s);
  background: rgba($black, 0.9);
  color: $white;

  z-index: 1050;

  /* border: 1px solid pink; */
  .navbar-brand {
    color: $white !important;
  }
  &.navbar-default, &.navbar-inverse {
    a {
      color: $black;
      @extend .bold-txt;
      /* top: 9px; */
    }
  }  

  #signup-button {
    @extend .btn;
    @extend .btn-aqua;
  }

  #login-button {
    @extend .btn;
    @extend .btn-black;
    border: 1px solid $white;
  }

  .navbar-header {
    display: block;
  } 

  #navbar-search {
    float: left;
    form {
      margin: 0px;
    }

    .input-group {
      float:left;
      margin-top: 9px;

      &.date-picker {
	position: relative;
      }

      .input-group-addon {
	background-color: $white;
      }
    }

    input.form-control {
      max-width: 85px;
      margin-left:0;
      margin-right:0;
      border: none;
      border-radius: 0;
      height: 32px;
      border-right: 1px solid darken($white, 10%);

      &.date-picker-input {
	max-width: 65px;
	border-right: none;
	
      }
    }

     a.btn {
       color: white;
       float: left;
       margin-left: 0;
       border-radius: 0;
     }
  }
}

/** form related **/
.no-border-radius {
  border-radius: 0 !important;
}

.icon-container {
  position: relative;
}

.icon-item {
  /* position: absolute; */
}

.date-picker {
  @extend .icon-container;
}
.date-picker-item {
  @extend .icon-item;
}


/** end form related **/

/* ----------- end navbar styling * ----------- */


/* ----------- * main styling * ----------- */

#banner-wrapper {
  background: url('/jolly/static/img/bg-5.jpg') no-repeat center fixed;
  color: #fff;
  background-size: cover;
  text-align: center;
  min-height: 360px;
  padding: 80px;
}
 

#feature-wrapper {  
  .col-xs-12 {
    padding: 0;
  }
  .panel {
    border: none; 
    border-radius: none;
    @include breakpoint(md) {
      border-radius: 8px;
    }

    @include breakpoint(xs) {
      float: none;
      width: 100%;
      margin-top: 0;
      margin-bottom: 0;
      border-radius: 0;      
    }
  }

  .panel-body {
    padding: 0;
    @include breakpoint(md) {
      padding: 10px;
    }
  }

  img {
    border-radius: 0;
    @include breakpoint(md) {
      border-radius: 8px;
    }
      max-height: 300px;

  }
  background-color: $white; 
  /* margin: 50px 0; */
}

/* ############ */
.t-contact {
  font-size: 0.75em !important;    
}
#testimonial {
  /* margin: 50px 0; */
  /* background-color: $alternative-green; */
  z-index: 5;
  blockquote {
    border-left: none; 
    margin: 0;
    img {
      margin-bottom: 10px;
    }
    color: $white;
    p {
      color: black;
    }   
    small {
      margin-bottom: 20px;
      color: $white;
    } 
  }
  padding: 20px 0 30px 0;
}


/******** */
#make-the-most-banner {
  background: url('/static/img/bg2.jpg') no-repeat center fixed;
  color: #fff;
  background-size: cover;
  text-align: center;
  
}

#cover-banner {
  background: url(/static/img/bg-4.jpg) no-repeat center center fixed;
  width: 100%;
  background-size: cover;
  color: $white;
  h3 {
    margin-bottom: 10px;
  }
  .app-name {
    font-size: 1.2em;
    line-height: 0.5em;
    margin-right: 2px;
  }
  
}


#main-wrapper {
  margin-bottom: 30px;  
}

#footer-wrapper {
  padding: 0;
  background-color: $navy;
  position: fixed;
  bottom: 0;
  width: 100%;
  z-index: 1000;

  background-color: $white;
  opacity: 0.9;
  border-top: 1px solid #AAA;
  color: $navy;
}
.nav-footer {
  float:right;
  padding: 5px 0;
  a {
    color: lighten($black, 50%);
    text-decoration: none;

  }
  li {
    display: inline;
  }
}
.nav-footer ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

.nav-item {
  margin: .2em 1em .2em 0;
}

/** styling the login-sign-up modal **/
.sep {

  color: lighten($black, 70%);;
  width:70%;
  margin:20px auto;
  overflow:hidden;
  text-align:center;   
  line-height:1.2em;

  &:before {
    content:"";
    vertical-align:top;
    display:inline-block;
    width:50%;
    height:0.65em;
    border-bottom:1px solid lighten($black, 80%);
    margin:0 2% 0 -55%; 
  }

  &:after {
    @extend &:before;
    margin:0 -55% 0 2%;    
  }
}

.registration-modal 
{
  margin-top: 80px;
  @include breakpoint(sm) {
    width: 315px !important;
  }

  &>.modal-footer {
    padding: 0;
  }
  
  .social-buttons {
    @include breakpoint(sm) {      
      padding-left: 10px;
      padding-right: 10px;
    }
  }
}

.registration-modal-header {
  height: 40px;
  padding: 5px; 
  position: relative;
  h3 {
    margin: 0 auto;
  }
  a.close {
    background: transparent url('/static/img/fancybox.png') -40px 0px no-repeat;
    position: absolute;
    top: -15px;
    right: -15px;
    width: 30px;
    height: 30px;
    opacity: 0.8;
    z-index: 1153;
    border-color: $pink;
    @include border-top-radius(5px);
  }
}

.registration-modal-sep {
  @extend .sep;
  background: none;
  height: 15px;
  position: relative;
  text-align: center;
  padding: 0px;
  margin: 10px auto;
}

a {
  &.btn.display-block {
    line-height: 10px;    
  }

  &.signup-with-btn {
    margin: 0px;
    border: 10px;
  }
}

.btn-block {
  margin-top: 8px;
}

.modal-body {
  padding-left: 0; 
  padding-right: 0;
}

.display-block {
  display:block;
}
.registration-block  {
  border: solid 1px $black;
  span {
    display:block;
  }
}
.icon-container {
  position: relative;
  .icon-item {
    background-color: $white;
  }
}
.text-container {
  text-align: center;
  font-style: normal;
}

.text-body {
  color: $text-color;
}

.text-mid {
  font-size: 20px;
  font-weight: 400;
  line-height: 30px;
}

.text-body-mid {
  @extend .text-body;
  font-size: 15px;
  line-height: 20px;
  font-weight: 400;
}

.text-regular {
  font-style: normal;
}


.text-normal-line-height {
  line-height: normal;
}

.text-trunc {
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
  display: block;
}


.icon {
  position: absolute;
  font-size: 24px;
  top: -5px;
  left: 0px;
}

.btn-holder {
  border-radius: 4px;
}

.btn-facebook {
  border-color: #3B5998;
  border-bottom-color: #263a63;
  background-color: #3B5998;
  color: #fff;
}

.btn-google {
  border-color: darken($white, 20%);
}


.text-has-icon-left {
  padding-left: 5px;
}

/** fixing the modal bug **/
body.modal-open, .modal-open .navbar-fixed-top,
    .modal-open .navbar-fixed-bottom {
    padding-right: 0px !important;
    overflow: auto;
}
/****** end modal bug ***/
input[type="radio"], input[type="checkbox"] {
  position: relative;
  /* -webkit-appearance: none; */
  height: 1.25em;
  width: 1.25em;
  margin-bottom: -0.25em;
  margin-right: 5px;
  vertical-align: top;
}

input[type="checkbox"] {
  /* &:before {
     content: "\2713";
     position: absolute;
     font-size: 0.85em;
     left: 1px;
     text-align: center;
     width: 1.25em;
     } */
}

.login-wrapper, .signup-wrapper {
  .modal-header {
    border-bottom: none;
    margin-bottom: 10px;
    p {
      margin-top: 10px;
    }
  }

  .modal-body {
    padding-left: 15px; 
    padding-right: 15px;
   
  }
  
  form {
    /* padding: 10px; */
    margin-left: 20px;
    margin-right: 20px;  
  }
  input#submit-id-submit {
    margin: 0;
  }

  .center-block {
    max-width: 100%;
  }

  #submit-id-submit {
    border-color: transparent;
  }
}

.remember-forgot-wrapper {
  position: relative;
  .form-group {
    float:left;
  }
  a {
    position: absolute;
    display: block;
    right: 0;
  }
  .checkbox {
    padding-top: 0px;
  }
}


.full-width {
  @extend .cleafix;
  width: 100% !important; 
  padding-left: 0px;
  padding-right: 0px;
}

/* ##########################################################3 */


.embedded-map {
  iframe {
    height: 250px;
  }

  .icon-item {
    border-right: none;
    color: darken($white, 30%);
  }

  #location {
    border-left: none; 
    border-radius: 0;
  }

  #location-search-wrapper {
    margin-bottom: 5px;
  }
}


.rec-badge {
  display: inline-block;
  border-radius: 4px;
  min-width: 60px;
  background-color: darken($white, 10%);
  position: relative;
  padding: 5px 30px 5px 10px;
  margin-top: 5px;
  
}

.rec-badge-cross {
  @extend .icon-item;
  position: absolute;
  right: 10px;
  top: 7.5px;
  background-color:  darken($white, 10%) !important;
  color: lighten($black, 30%) !important;
}

/** filter menul **/
.filter-menu-panel-group {
  .panel-body {
    padding: 0;
  }
}


.filter-menu-panel {
  @extend .clearfix;

  .panel-heading {
    padding: 10px;
    @extend .no-border;
    a {
      @extend .no-border;
      text-decoration: none;
      position: relative;
      &:after {
	content: '-';
	position: absolute;
	right: 20px;
	top: 0px;
	font-size: 15px;
	font-weight: bold;
      }

      &.collapsed:after {
	content: '+';
	font-size: 15px;
	font-weight: bold;
      }
    }
    height: 40px;
  }
  margin-top: 0 !important;
}

@mixin filter-panel-color($color){
  background-color: $color;
  a {
    color: darken($color, 50%) ;
    margin-left: 2%;
  }     
}

@mixin filter-panel($color){
  border-color: $color;
  .panel-heading {
    @include filter-panel-color($color);
  }
  .panel-body {
    padding: 10px 20px;
    li {
      a {
	color: darken($color, 50%) ;
	margin: 10px;
      }
    }
  }
}


$category-color: #d9edf7;
.category-panel {
  @include filter-panel($category-color);
}
.category-item {
  @include filter-panel-color($category-color);
  span, i {
    color: darken($category-color, 50%) !important;
    background-color: $category-color !important;
  }
}

$audience-color: #ebcccc;
.audience-panel {
  @include filter-panel($audience-color);

}
.audience-item {
  @include filter-panel-color($audience-color);
  span, i {
    color: darken($audience-color, 50%) !important;
    background-color: $audience-color !important;
  }
}

$price-color: #dff0d8;
.price-panel {
  @include filter-panel($price-color);
}

.price-item {
  @include filter-panel-color($price-color);
  span, i {
    color: darken($price-color, 50%) !important;
    background-color: $price-color !important;
  }
}

$date-color: #fcf8e3;
.date-panel {
  @include filter-panel($date-color);
}

#filter-menu {
  margin-bottom: 0;
}

.panel-btn {
  width: 100%;
  margin-left: 5%;
  display: block;   
  height: 40px;
}

.panel-btn-icon {
  margin-right: 5%;
}


.event-main-list {
  margin-top: 60px;
  .content {
    padding: 0;    
  }
}

#content-wrapper {
  >.container-fluid {
    padding: 0;
  }
}

a.event-link {
  text-decoration: none;
}

.event-preview-item {
  background: $white;
  h1,h2,h3,h4,h5,p,span {
    margin: 0;
  }

  a.event-link {
    display: block;
  }

  .image-container {
    height: 200px;
    width: 100%;
    object-fit: cover; 
    @include breakpoint(md) {
      height: 200px;
      width: 300px;
    }
  }
  .event-image {
    position: relative;
    height: 200px;
    object-fit: cover;    
    @include breakpoint(md) {
      height: 210px;
      width: 300px;
      float: left;
    }
  }

  ul {
    padding-left: 0;
    margin-bottom: 0;
    & li{
      display: inline;
    }
  }

  .event-info-heading {
    overflow: hidden;
  }
}


.event-info-wrapper {
  @include breakpoint(md) {
    margin-left: 310px;
  }  
}

.blk-li {
  margin-top: 5px;
}

.event-title {
  @include breakpoint(md) {
    margin-top: 15px;
  }  
}

.event-description {
  margin-top: 10px;
  margin-bottom: 10px;
  p {font-size: 13px;}
}

.event-price {
  margin-right: 10px;
}

.event-image-banner {
  height:50px;
  width:50px;
  top:0px;
  position: absolute;
}

.event-hot-banner {
  
}

.image-overlay {
  position: absolute;
  bottom: 0;
  height: 100px;
  width: 100%;
  background-color: transparent;
  @include background-image( linear-gradient(top, rgba(0,0,0,0), #000 94%) ); 
}

.stats-row {
  position: absolute;
  bottom: 10px;
  width: 100%;
  text-align: left;
  .stat-col {
    padding: 0 5px;
  }

  .text-body-mid {
    color: $white;
  }
}

.event-footer {
  margin-top: 10px;
  margin-right: 5px;

  .event-footer-col {
    padding: 0 5px;
  }
}

.mid-col {
  text-align: center;
}

.right-col {
  text-align: right;
}

#content {
  margin-top: 100px;
}
