<!DOCTYPE html>
{% load staticfiles pipeline i18n %}
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>{% block title %}Events, activities, nearby - PlanOut{% endblock title %}</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="PlanOut HomePage">
    <meta name="author" content="PlanOut,Inc">

    <link rel="shortcut icon" type="image/x-icon" href="{% url 'favicon.ico' %}" />

    {% stylesheet 'master' %}
    {% block extra_css %}{% endblock extra_css %}

    <link href='http://fonts.googleapis.com/css?family=Pacifico' rel='stylesheet' type='text/css'>
    <link href='http://fonts.googleapis.com/css?family=Open+Sans' rel='stylesheet' type='text/css'>       
    <link rel="stylesheet" href="{{ STATIC_URL }}imgareaselect/css/imgareaselect-animated.css" type="text/css" />
    <link rel="stylesheet" href="{{ STATIC_URL }}avatar/avatar.css" type="text/css" />
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js"></script>

    <!-- HTML5 shim, for IE6-8 support of HTML5 elements -->
    <!--[if lt IE 9]>
      <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->
  </head>
  <body id='{{id}}'>

    <div id="header-wrapper">
      <div id="header" class="po-header"> 
	<div class="navbar navbar-default navbar-fixed-top planout-navbar" role="navigation"> 
	  <div class="container">
	    <div class="navbar-header">
	      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
		<span class="sr-only">Toggle navigation</span>
		<span class="icon-bar"></span>
		<span class="icon-bar"></span>
		<span class="icon-bar"></span>
	      </button>
	      <a class="navbar-brand app-name" href="/">PlanOut</a>
	      <div id="navbar-search" class=""> 
		{% include "snippets/search_bar.html" %}
	      </div>
	    </div>

	    <div class="navbar-collapse collapse">
	      <ul class="nav navbar-nav navbar-right">
		{% if request.user.is_authenticated %}         		
		<li class="dropdown nav-link">
		  <a href="#" class="dropdown-toggle" data-toggle="dropdown">
		      <img width="28" height="28" src="https://a2.muscache.com/ic/users/27306913/profile_pic/1423226806/original.jpg?interpolation=lanczos-none&amp;crop=w:w;*,*&amp;crop=h:h;*,*&amp;resize=50:*&amp;output-format=jpg&amp;output-quality=70" alt="">			
		    <span>{{request.user.display_name}}</span> <b class="caret"></b>
		  </a>
		  <ul class="dropdown-menu">
		    <li><a href="{% url 'profiles:edit_profile_uuid' request.user.uuid %}">Edit Profile</a></li>
		    <li><a href="#">Dashboard</a></li>
		    <li class="divider"></li>
		    <li><a href="{% url 'account_logout' %}">Log Out</a></li>
		  </ul>
		</li>

		<li><a id="login-button" href="#" class="btn btn-white" >Create Event</a></li>
		{% else %}	 
		<li><a id="signup-button" href="#" class="btn btn-aqua" data-toggle="modal" data-target="#signup-modal" >Sign-Up</a></li>
		<li><a id="login-button" href="#" class="btn btn-white" data-toggle="modal" data-target="#login-modal" >Log-In</a></li>	 
		{% endif %}
	      </ul>
	      <div id="mobile-sidebar"></div>
	    </div>
	  </div> 
	</div>	
      </div>
    </div><!-- header wrapper -->  
   

    <!-- <div class="container"> -->
      {% block messages %}
      {% include 'includes/messages.html' %}
      {% endblock messages %}
    <section id="content">
      {% block content %}
      {% endblock content %}
    </section>
    <!-- </div> -->
    
    <section class="modals" id="authentification-modals">
      {% if request.user.is_authenticated %}         		

      {% else %}

      <div class="modal fade" id="signup-modal" tabindex="-1" role="dialog" aria-labelledby="basicModal" aria-hidden="true">
      <div class="modal-dialog registration-modal">
        <div class="modal-content registration-modal">
      	  <div class="modal-header registration-modal-header">
	    <div class="text-container"> <h4 class="black">Welcome!</h4></div>
            <a class="close" data-dismiss="modal" aria-hidden="true"><i class=""></i></a>
      	  </div>
          <div class="modal-body registration-modal-body">
	    <div class="social-buttons">
	      <div class="center-block registration-block btn-holder btn-facebook">
		<a href="/accounts/facebook/login/?process=login" class="btn display-block" data-populate_uri="" data-redirect_uri="">
		  <span class="icon-container">
		    <i class="icon fa fa-facebook white"></i>
		  </span>
		  <span class="text-container white">
		    Sign up with Facebook
		  </span>
		</a>	      
	      </div>
	      <div class="center-block registration-block btn-holder btn-google btn-block">
		<a href="/accounts/google/login/?process=login" class="btn display-block google-icon" data-populate_uri="" data-redirect_uri="">
		  <span class="icon-container">
		    <i class="icon fa fa-google-plus google-red"></i>
		  </span>
		  <span class="text-container black ">
		    Sign up with Google
		  </span>
		</a>
	      </div>	      
	    </div> <!-- social buttons  -->
	    <div>
	      <h6 class="registration-modal-sep">or</h6>
	    </div>
	    <div class="center-block ">
	      <a href="#" class="btn signup-with-btn">
		<i class="text-container fa fa-envelope aqua"></i>
		<span class="bold-txt aqua"  data-toggle="modal" data-target="#signup-with-email-modal" >Sign up with Email</span>
	      </a>
	    </div>
          </div> <!-- body -->
          <div class="modal-footer">
            <span class="black">Already a member?</span> <a id="login-button" href="#" class="btn btn-black" data-toggle="modal" data-target="#login-modal" >Log-In</a>
          </div>
	</div>
      </div>
    </div>
      <div class="modal fade" id="signup-with-email-modal" tabindex="-1" role="dialog" aria-labelledby="basicModal" aria-hidden="true">
        {% include "snippets/signup_modal.html" %}
      </div> 
      <div class="modal fade" id="login-modal" tabindex="-1" role="dialog" aria-labelledby="basicModal" aria-hidden="true">
	{% include "snippets/login_modal.html" %}
      </div> 
      {% endif %}

    </section>
    {% javascript 'master' %}
    {% block extra_js %}{% endblock extra_js %}
  </body>
</html>
