<form id="navbar-search-form" class=" navbar-form navbar-left hidden-xs" role="search">
  <div class="input-group">
    <input type="text" class="form-control" name="user-group" placeholder="You Are">
  </div>
  <div class="input-group">
    <input type="text" class="form-control" name="activity-category" placeholder="You want">
  </div>
  <div class="input-group date-picker">
    <!-- <span class="date-picker-item fa fa-calendar"></span> -->
    <input type="text" class="form-control date-picker-input" name="from-date" placeholder="From">
    <span class="input-group-addon no-border-radius"><i class="glyphicon glyphicon-calendar"></i></span>
  </div>
  <div class="input-group date-picker">
    <input type="text" class="form-control date-picker-input" name="to-date" placeholder="To">
    <span class="input-group-addon no-border-radius"><i class="glyphicon glyphicon-calendar"></i></span>
  </div>
  <a type="submit" id="navbar-search-submit" class="btn btn-pink">Search</a>
</form>		
<div class="visible-xs">
  <a type="submit" id="navbar-search-button" class="btn btn-pink">Search</a>
</div>
