<a href="#" class="dropdown-toggle" data-toggle="dropdown">
  <i class="fa fa-bell-o"></i>
  <span class="label label-danger">4</span>
</a>
<ul class="dropdown-menu">
  <li class="header">You have 4 new notifications</li>
  <li>
    <!-- inner menu: contains the actual data -->
    <ul class="menu">
      <li>
        <a href="#">
          This is a placeholder, should be improved!
        </a>
      </li>
      <li>
        <a href="#">
          Your friend <span>VyVy</span> has accepted your invitation
        </a>
      </li>
      <li>
        <a href="#">
          Your show <span>Dam Vinh Hung</span> has been cancelled
        </a>
      </li> 
      <li>
        <a href="#">
          Your show <span>Dam Vinh Hung</span> has been rescheduled
        </a>
      </li>
    </ul>
  </li>
  <li class="footer"><a href="#">View all</a></li>
</ul>


