{%extends "base.html" %}
{%load static %}
{% load crispy_forms_tags %}
{%block title %}User {%endblock %}

{% block content %}

<div class="container">

<form class="" action="{% url 'events:event_create' %}" method="post">

  {% crispy form %}
  <!-- Upload image and data  
  <div class="avatar-upload">
  <input class="avatar-src" name="avatar_src" type="hidden">
  
  <input class="avatar-input" id="avatarInput" name="avatar" type="file">
  </div>	-->

</form>
</div>
{% endblock content %}
{% block extra_js %} 
{{ form.media }}
{% endblock extra_js %}
